.buildpath
.hgignore.swp
.project
.orig
.swp
.idea/
.settings/
.vscode/
bin/
**/.DS_Store
gf
main
main.exe
output/
manifest/output/
temp/
temp.yaml
bin

go.sum
thanos-core.exe
host
data
thanos-core
publish1.json
runtime
resources
cfg.json
1.json
internal/packed
.VSCodeCounter
jpg_c.exe
goodsInfo.json
core.db
bfg.jar
main.exe~
.git.bfg-report
*.db
web/web
web/assets
logs
web/favicon.ico
web/index.html
web/index.html.gz
web/yarn.lock